@import url(/fonts/eb-garamond/stylesheet.css);
@import url(/fonts/inter/stylesheet.css);

:root {
  --text-color: #48494e;
  --heading: #090f32;
  --prime-one: #ff8c24;
  --prime-two: #ff733b;
  --prime-three: #6a45ff;
  --prime-four: #ffcd45;
  --prime-five: #007bff;
  --prime-six: #ffd338;
  --prime-seven: linear-gradient(-90deg, #ff7df2, #ff275b);
  --prime-eight: #ffed4e;
  --prime-nine: #ff1292;
  --prime-ten: #ff3294;
  --prime-eleven: #ffce4c;
  --prime-twelve: #ffe500;
}

body::selection {
  background-color: #2a2a2a;
  color: #f3f7f8;
  font-family: "Inter 18pt", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-ccw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes shake-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-18px);
  }
}

.button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  border: none;
  max-height: fit-content;
  font-weight: 500;
  transition: all 0.25s linear;
}

.login-btn {
  border: 1px solid #e4e4e4;
  padding: 0.45rem 1.65rem;
  background: transparent;
  border-radius: 50px;
}

.button-text {
  transform: translateY(-2.5px);
}

.contact-us-btn {
  border: 1px solid var(--prime-two);
  padding: 0.45rem 1.65rem;
  background: transparent;
  border-radius: 50px;
  color: var(--prime-one);
}

.contact-us-btn .button-text {
  transform: translateY(-2px);
}

.contact-us-btn:hover,
.login-btn:hover {
  background-color: var(--prime-two);
  color: #ffffff;
}

.navigation-item {
  font-weight: 500;
  position: relative;
}

.navigation-item::after {
  position: absolute;
  content: "";
  bottom: -2rem;
  left: 0;
  background: transparent;
  height: 2rem;
  width: 100%;
}

.navigation-item:hover .hover-menu {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}

.menu-column {
  min-width: max-content;
}

.menu-column-title {
  font-weight: 500;
  position: relative;
  width: fit-content;
  margin: 0 0 0.75rem 0;
}

.menu-column-title::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--heading);
}

.hover-menu {
  display: flex;
  position: absolute;
  left: 0;
  top: 3rem;
  font-weight: normal;
  gap: 5.5rem;
  padding: 1.25rem;
  border-radius: 5px;
  max-width: 600px;
  background: #ffffff;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 50px 100px;
  transform: translateY(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.menu li {
  transition: all 0.15s linear;
}

.menu li:hover {
  color: var(--prime-two);
}

.container:has(.hero-section) {
  padding: 8rem 0;
}

.hero-title {
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  position: relative;
  color: var(--heading);
}

.hero-subtitle {
  font-size: 1.35rem;
  color: var(--text-color);
}

header {
  z-index: 99;
  position: sticky;
  top: 0;
  background: #ffffff;
}

.word-deco {
  position: relative;
}

h1 img {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

.hero-title .shape-26 {
  position: absolute;
  left: -15rem;
  bottom: -2rem;
  width: 25%;
}

.hero-title .shape-27 {
  position: absolute;
  left: 47rem;
  bottom: -3rem;
  width: 20%;
}

.try-now-btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  background-color: var(--prime-two);
  color: #ffffff;
}

.try-now-btn:hover {
  background-color: var(--heading);
}

.play-icon {
  height: 48px;
  width: 48px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.play-icon i {
  transform: translateX(0.15rem);
}

.play-icon {
  transition: all 0.25s linear;
}

.play-btn:hover .play-icon {
  background-color: var(--heading);
  color: #ffffff;
}

.play-btn {
  background: transparent;
  color: var(--prime-two);
}

.play-btn-highlight {
  color: var(--prime-two);
}

.section-two {
  padding: 1rem;
}

.section-two-banner {
  position: relative;
  background-color: #f3f7f8;
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
}

.section-two-banner img {
  width: 90%;
  border-radius: 1.25rem;
}

.section-two-deco {
  position: absolute;
  max-width: 22%;
}

.section-two-deco-01 {
  max-width: 15%;
  top: -10%;
  left: -10%;
  animation: rotate-90-cw infinite linear 10s alternate;
}

.section-two-deco-02 {
  max-width: 20%;
  bottom: -10%;
  right: -10%;
  animation: rotate-90-ccw infinite linear 10s alternate;
  z-index: -1;
}

.section-two-deco-03 {
  max-width: 15%;
  right: -13%;
  top: 10%;
}

.section-two-deco-04 {
  max-width: 15%;
  left: -12%;
  bottom: 10%;
}

.section-three-sub-heading {
  font-size: 1rem;
  text-transform: uppercase;
  color: #0000004d;
}

.section-three-title {
  font-size: 3.5rem;
  font-family: "EB Garamond", serif;
  font-weight: 600;
  line-height: 4.5rem;
  margin: 1.5rem 0;
}

.section-three-subtitle {
  font-size: 1.25rem;
  color: var(--text-color);
}

.learn-more-btn {
  padding: 0.85rem 2rem;
  border-radius: 5px;
  background-color: var(--prime-two);
  color: #ffffff;
  transform: all 0.25s linear;
}

.learn-more-btn:hover {
  background-color: var(--heading);
}

.section-three {
  margin: 6rem 0 0 0;
  padding: 4rem 2rem;
  gap: 4rem;
}

.section-three-right {
  width: 50%;
  min-height: 450px;
}

.section-three-bg {
  min-height: 100%;
  background-color: #f3f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  position: relative;
}

.section-three-bg-img {
  background-color: #ffffff;
  padding: 3.5rem;
  border-radius: 50%;
}

.plogo {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: shake-vertical 3s linear infinite alternate;
  box-shadow: 0 20px 50px rgba(27, 75, 132, 0.03);
}

.section-three-bg :nth-child(1 of .plogo) {
  top: -5%;
  left: 50%;
  height: 64px;
  width: 64px;
}

.section-three-bg :nth-child(2 of .plogo) {
  top: 25%;
  left: -10%;
}

.section-three-bg :nth-child(3 of .plogo) {
  bottom: 5%;
  left: -10%;
  height: 64px;
  width: 64px;
  animation-delay: 3s;
}

.section-three-bg :nth-child(4 of .plogo) {
  bottom: -10%;
  right: 10%;
  height: 128px;
  width: 128px;
}

.section-three-bg :nth-child(5 of .plogo) {
  top: 20%;
  right: -15%;
  height: 96px;
  width: 96px;
  animation-delay: 3s;
}

.section-4 {
  position: relative;
}

.section-4 .shape-1 {
  position: absolute;
  top: 3%;
  left: -10%;
  height: 156px;
  width: 156px;
  border-radius: 50%;
  background-color: var(--prime-eleven);
  z-index: -1;
  animation: shake-vertical 2s linear infinite alternate;
}

.section-4 .shape-2 {
  position: absolute;
  bottom: 5%;
  right: -15%;
  height: 256px;
  width: 256px;
  border-radius: 50%;
  background-color: #ff71e4;
  z-index: -1;
  animation: shake-vertical 2s linear infinite alternate 1s;
}

.section-4-title {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 600;
  color: var(--heading);
}

.section-4-cta {
  margin: 1.25rem 0 0 0;
}

.section-4-cta a {
  color: var(--prime-two);
  text-decoration: underline;
  font-weight: 500;
  font-size: 1.15rem;
}

.feature-card {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 42px 10px 30px 45px;
  background: #fff;
  transition: all 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.feature-name {
  font-size: 1.45rem;
  font-weight: 500;
}

.feature-dsc {
  font-size: 1.15rem;
  color: var(--text-color);
}

.feature-cta {
  font-size: 2rem;
}

.feature-card:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.04);
  border-color: #fff;
}

.price-switch {
  border-radius: 50px;
  overflow: hidden;
  max-width: fit-content;
}

.price-switch-btn {
  padding: 1rem 2rem;
}

.switch-active {
  background-color: var(--prime-two);
  color: #fff;
}

.section-6 {
  position: relative;
}

.shape-3 {
  position: absolute;
  height: 196px;
  width: 196px;
  background-color: #57f2cf;
  border-radius: 50%;
  top: 27%;
  left: -14%;
  animation: shake-vertical 2s linear infinite alternate;
}

.section-6 > img:first-of-type {
  position: absolute;
  left: 8%;
  bottom: -5%;
  animation: shake-vertical 2s linear infinite alternate 3s;
}
.section-6 > img:last-of-type {
  position: absolute;
  right: -12%;
  top: 40%;
  animation: shake-vertical 2s linear infinite alternate 3s;
}

.section-6-title {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.5rem;
  color: var(--heading);
  margin: 2rem 0;
}

.section-6-sub-heading {
  color: var(--text-color);
}

.ri-check-line {
  font-size: 1.35rem;
}

.plan {
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 17px;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
  margin: 1rem 0;
  padding: 0 15px;
}

.price {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  font-weight: 500;
}

.btn-signup {
  border-radius: 5px;
  padding: 0.35rem 1rem;
  margin-bottom: 0.5rem;
}

.trial-text {
  font-size: 0.75rem;
}

.pr-header {
  padding-bottom: 35px;
  border-bottom: 1px solid #ededed;
  text-align: center;
}

.pr-list-wrapper {
  border-radius: 15px 0 0 15px;
  border: 1px solid #ededed;
  border-right: none;
  top: 228px;
  left: 0;
  height: 100%;
  max-height: fit-content;
  padding: 0;
  transform: translateY(124.5%);
}

.pr-list-item:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.pr-list-item {
  padding: 1rem;
  line-height: 1rem;
}

.pr-body ul li {
  padding: 1rem;
  border-bottom: 1px solid #ededed;
  line-height: 1rem;
  text-align: center;
}

.info {
  font-size: 0.85rem;
}

.pr-column {
  border-right: 1px solid #ededed;
}

.pr-table-wrapper {
  border: 1px solid #ededed;
  border-radius: 16px;
  margin-top: 3rem;
}

.pr-footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card {
  max-height: 250px;
  min-height: fit-content;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.review-text {
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
}

.reviewer-name {
  font-size: 1.25rem;
  font-weight: 500;
}

.reviewer-job {
  color: var(--text-color);
}

.slider {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.slider-buttons {
  max-width: fit-content;
  margin: 2rem auto;
}

.slider-buttons button {
  color: var(--text-color);
  font-size: 2rem;
}

.section-5 {
  margin: 5rem 0 0 0;
}

.section-5-bg {
  background: #f3f7f8;
  padding: 5rem;
  text-align: center;
  border-radius: 50%;
  position: relative;
  max-width: 100%;
}

.section-5-bg > img {
  border-radius: 50%;
}

.section-5-bg img:first-of-type {
  top: 18%;
  left: 15%;
}

.section-5-bg img:nth-of-type(2) {
  bottom: 40%;
  left: 10%;
}

.section-5-bg img:nth-of-type(3) {
  bottom: 10%;
  left: 20%;
}

.section-5-bg img:nth-of-type(4) {
  top: 13%;
  right: 20%;
}

.section-5-bg img:last-of-type {
  bottom: 25%;
  right: 10%;
}

.section-5-title {
  font-family: "EB Garamond", serif;
  font-size: 4rem;
  line-height: 4.5rem;
  color: var(--heading);
  margin: 2rem 0;
  font-weight: 600;
}

.quote-icon {
  background-color: var(--prime-six);
  width: 96px;
  padding: 1.5rem;
  border-radius: 50%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.footer-column {
  max-width: fit-content;
}

.footer-col-title {
  margin: 0 0 2rem 0;
  font-size: 1.65rem;
  font-weight: 500;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  font-size: 1.15rem;
  color: var(--text-color);
}

.footer-nav li {
  cursor: pointer;
  transition: all 0.25s linear;
}

.footer-nav li:hover {
  color: var(--prime-two);
  text-decoration: underline;
}

.footer {
  margin: 4rem 0 3rem 0;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 2rem;
  position: relative;
}

.shape-4 {
  background-color: #ffd27c;
  height: 196px;
  width: 196px;
  border-radius: 50%;
  top: -25%;
  left: -10%;
  z-index: -1;
}

.shape-5 {
  background-color: #67d1ff;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  bottom: -15%;
  right: -5%;
  z-index: -1;
}

.contact-info {
  margin: 2rem 0 0 0;
}

.contact-email {
  color: var(--text-color);
  transition: all 0.25s linear;
  cursor: pointer;
  font-size: 1.25rem;
}

.contact-email:hover {
  text-decoration: underline;
  color: #000;
}

.contact-phone {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--prime-two);
  margin: 1rem 0 0 0;
}

.contact-phone:hover {
  text-decoration: underline;
}

.menu-btn {
  background-color: var(--prime-two);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.menu-btn .button-text {
  transform: translateY(0);
}

@media (max-width: 576px) {
  .footer-column {
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  .section-5-bg {
    background: transparent;
  }
  .section-5-bg > img {
    display: none;
  }

  .section-three-bg {
    height: 400px;
  }
}
