:root {
  --text-color: #48494e;
  --heading: #090f32;
  --prime-one: #ff8c24;
  --prime-two: #ff733b;
  --prime-three: #6a45ff;
  --prime-four: #ffcd45;
  --prime-five: #007bff;
  --prime-six: #ffd338;
  --prime-seven: linear-gradient(-90deg, #ff7df2, #ff275b);
  --prime-eight: #ffed4e;
  --prime-nine: #ff1292;
  --prime-ten: #ff3294;
  --prime-eleven: #ffce4c;
  --prime-twelve: #ffe500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  border: none;
  max-height: fit-content;
  font-weight: 500;
  transition: all 0.25s linear;
}

.login-btn {
  border: 1px solid #e4e4e4;
  padding: 0.45rem 1.65rem;
  background: transparent;
  border-radius: 50px;
}

.button-text {
  transform: translateY(-2.5px);
}

.contact-us-btn {
  border: 1px solid var(--prime-two);
  padding: 0.45rem 1.65rem;
  background: transparent;
  border-radius: 50px;
  color: var(--prime-one);
}

.contact-us-btn .button-text {
  transform: translateY(-2px);
}

.contact-us-btn:hover,
.login-btn:hover {
  background-color: var(--prime-two);
  color: #ffffff;
}

.navigation-item {
  font-weight: 500;
  position: relative;
}

.navigation-item:hover .hover-menu {
  display: flex !important;
}

.menu-column {
  min-width: max-content;
}

.menu-column-title {
  font-weight: 500;
  position: relative;
  width: fit-content;
}

.menu-column-title::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--heading);
}

.hover-menu {
  display: none !important;
  position: absolute;
  left: 0;
  top: 3rem;
  font-weight: normal;
  gap: 5.5rem;
  padding: 1.25rem;
  border-radius: 5px;
  max-width: 600px;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 50px 100px;
}
