@import url(/fonts/eb-garamond/stylesheet.css);
@import url(/fonts/inter/stylesheet.css);

:root {
  --text-color: #48494e;
  --heading: #090f32;
  --prime-one: #ff8c24;
  --prime-two: #ff733b;
  --prime-three: #6a45ff;
  --prime-four: #ffcd45;
  --prime-five: #007bff;
  --prime-six: #ffd338;
  --prime-seven: linear-gradient(-90deg, #ff7df2, #ff275b);
  --prime-eight: #ffed4e;
  --prime-nine: #ff1292;
  --prime-ten: #ff3294;
  --prime-eleven: #ffce4c;
  --prime-twelve: #ffe500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

p {
  margin: 0;
}

.button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  border: none;
  max-height: fit-content;
  font-weight: 500;
  transition: all 0.25s linear;
}

.login-btn {
  border: 1px solid #e4e4e4;
  padding: 0.45rem 1.65rem;
  background: transparent;
  border-radius: 50px;
}

.button-text {
  transform: translateY(-2.5px);
}

.contact-us-btn {
  border: 1px solid var(--prime-two);
  padding: 0.45rem 1.65rem;
  background: transparent;
  border-radius: 50px;
  color: var(--prime-one);
}

.contact-us-btn .button-text {
  transform: translateY(-2px);
}

.contact-us-btn:hover,
.login-btn:hover {
  background-color: var(--prime-two);
  color: #ffffff;
}

.navigation-item {
  font-weight: 500;
  position: relative;
}

.navigation-item::after {
  position: absolute;
  content: "";
  bottom: -2rem;
  left: 0;
  background: transparent;
  height: 2rem;
  width: 100%;
}

.navigation-item:hover .hover-menu {
  opacity: 1 !important;
  transform: translateY(0) !important;
  visibility: visible !important;
}

.menu-column {
  min-width: max-content;
}

.menu-column-title {
  font-weight: 500;
  position: relative;
  width: fit-content;
  margin: 0 0 0.75rem 0;
}

.menu-column-title::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--heading);
}

.hover-menu {
  display: flex;
  position: absolute;
  left: 0;
  top: 3rem;
  font-weight: normal;
  gap: 5.5rem;
  padding: 1.25rem;
  border-radius: 5px;
  max-width: 600px;
  background: #ffffff;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 50px 100px;
  transform: translateY(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.menu li {
  transition: all 0.15s linear;
}

.menu li:hover {
  color: var(--prime-two);
}

.container:has(.hero-section) {
  padding: 10rem 12rem;
}

.hero-title {
  font-family: "EB Garamond", sans-serif;
  font-size: 4.5rem;
  position: relative;
  color: var(--heading);
}

.hero-subtitle {
  font-size: 1.35rem;
  color: var(--text-color);
}

header {
  z-index: 99;
  position: sticky;
  top: 0;
  background: #ffffff;
}

.word-deco {
  position: relative;
}

h1 img {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

.hero-title .shape-26 {
  position: absolute;
  left: -15rem;
  bottom: -2rem;
  width: 25%;
}

.hero-title .shape-27 {
  position: absolute;
  left: 47rem;
  bottom: -3rem;
  width: 20%;
}

.try-now-btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  background-color: var(--prime-two);
  color: #ffffff;
}

.try-now-btn:hover {
  background-color: var(--heading);
}

.play-icon {
  height: 48px;
  width: 48px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.play-icon i {
  transform: translateX(0.15rem);
}

.play-icon {
  transition: all 0.25s linear;
}

.play-btn:hover .play-icon {
  background-color: var(--heading);
  color: #ffffff;
}

.play-btn {
  background: transparent;
  color: var(--prime-two);
}

.play-btn-highlight {
  color: var(--prime-two);
}
